var/cache
var/log
public/images/chat
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
vendor
src/Migrations
.env
.env.prod
.env.local
.env.local.php
migrations
out/linecounter.txt
out/linecounter.json
frikiradar-1551914200548-firebase-adminsdk-d6l6d-47a9de86d5.json
config/jwt/private.pem
config/jwt/public.pem