<!DOCTYPE html>
<html lang="es">
    <body bgcolor="#1a1a1a" text="white" style="background-color:#1a1a1a; margin-top: 0;color: white; padding: 20px;">
        <header style="height: 50px;" align="middle">
            <img
                src="{{absolute_url(asset('images/layout/logo-header.png'))}}"
                alt="FrikiRadar"
                height="40"
                width="174"
                style="height: 40px;padding: 5px 20px;margin-left: auto;margin-right: auto;display: block;"
            >
        </header>
        <main style="padding: 20px;margin-left: auto;margin-right: auto;width:60%;">
            {{ body }}
        </main>
        <footer style="padding:5px;">
            <p style="text-align:center">FrikiRadar</p>
        </footer>
    </body>
</html>