<!DOCTYPE html>
<html lang="es">
    <body style="background-color:#1a1a1a; margin-top: 0;color: white;">
        <header style="height: 50px;">
            <img src="../../public/images/layout/logo-header.png" style="height: 40px;padding: 5px 20px;margin-left: auto;margin-right: auto;display: block;"></header>
            <main style="padding: 20px;margin-left: auto;margin-right: auto;width:60%;">
                {{ body }}
            </main>
            <footer style="padding:5px;">
                <p style="text-align:center">FrikiRadar</p>
            </footer>
        </body>
    </html>