<p>Hola,
    {{username}}. Te damos la bienvenida a FrikiRadar.</p>
<p>Ya te falta nada para terminar tu registro y comenzar a conocer frikis muy cerca de ti.</p>
<p>Introduce el siguiente código en la aplicación para activar tu cuenta</p>
<h2 style="text-align: center;">{{code}}</h2>
<p>Si tienes algún problema con la recuperación de la contraseña ponte en contacto con nosotros a través de esta dirección:</p> <a href='mailto:hola@frikiradar.com'>hola@frikiradar.com</a>
<p>Si has recibido este mensaje por error puedes ignorarlo o borrarlo.</p>
<p>¡Muchas gracias de parte de todo el equipo de FrikiRadar!</p>