<!DOCTYPE html>
<html lang="es">
    <body style="background-color:#1a1a1a; margin-top: 0;color: white; padding: 20px;">
        <header style="height: 50px;">
            <img src="{{absolute_url(asset('images/layout/logo-header.png'))}}" alt="FrikiRadar" style="height: 40px;padding: 5px 20px;margin-left: auto;margin-right: auto;display: block;"></header>
        <main>
            <p>Hola,
                {{username}}. Hemos detectado que te has conectado desde un dispositivo desconocido.</p>
            <p>Por seguridad y para evitar problemas de suplantación de identidad necesitamos que verifiques tu identidad.</p>
            <p>Introduce el siguiente código en la aplicación para verificar tu dispositivo:</p>
            <h2 style="text-align: center;">{{code}}</h2>
            <p>Si tienes algún problema ponte en contacto con nosotros a través de esta dirección:
                <a href='mailto:hola@frikiradar.com'>hola@frikiradar.com</a>
            </p>
            <p>Si has recibido este mensaje por error puedes ignorarlo o borrarlo.</p>
            <p>¡Saludos de parte de todo el equipo de FrikiRadar!</p>
        </main>
        <footer style="padding:5px;">
            <p style="text-align:center">FrikiRadar</p>
        </footer>
    </body>
</html>